@import 'material-icons/iconfont/material-icons.css';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.search{
  display: flex;
  width: 80%;
  border: 1px solid black;
  padding: 0.6rem;
  align-items: center;
  margin: 1rem auto;
  gap: 1rem;
  border-radius: 3rem;
  input{
    flex: 1;
    font-size: large;
    outline: none;
    border: none;
  }
}
.App h1 {
  text-align: center;
  padding: 1rem;
}
.btn1{
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  button{
    font-size: large;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
  }
}
.div2{
  width: 80%;
  margin: auto;
  table{
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
  }
  th{
    font-size: large;
  }
  td{
    text-align: center;
    font-size: large;
    text-transform: capitalize;
  }
  td:last-child{
    display: flex;
    justify-content: center;
    border: none;
    gap: 2rem;
    button{
      padding: 0.3rem 1rem;
    }
  }
  tr,td,th{
    border: 1px solid black;
    padding: 0.5rem;
  }
}
@media only screen and (max-width:700px) {
  .App h1 {
    font-size: 1.5rem;
  }
  .btn1{
    button{
      padding: 0.2rem;
    }
  }
  .div2{
    width: 95%;
    table{
      td,th{
        font-size: small;
      }
      td:last-child{
        gap: 8px;
        button{
          padding: 0.1rem;
        }
      }
    }
  }
}